@import "flowbite/dist/flowbite.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", sans-serif;
  background-color: bg-gray-100;
  color: text-gray-700;
}

/* Center content on the page */
.container {
  @apply mx-auto;
}

/* Style for the Movies component */
.movies-container {
  @apply p-2;
}

.movie-card {
  @apply border border-gray-900 rounded overflow-hidden transition-transform duration-300 ease-in-out hover:transform scale-105;
}

.movie-card img {
  @apply w-full h-auto object-cover rounded;
}

.movie-card h3 {
  @apply text-lg mt-2;
}

@media (min-width: 768px) {
  .movies-container {
    @apply grid grid-cols-2 gap-4;
  }
}

@media (min-width: 1024px) {
  .movies-container {
    @apply grid-cols-3;
  }
}
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", sans-serif;
  background-color: bg-gray-100;
  color: text-gray-700;
}

.modal{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.4);
  height: 100vh;
  z-index: 999999999999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal .modal-wrapper{
  min-width: 500px;
}

.img-edit-wrapper{
  width: 600px;
  height: 600px;
}

.img-edit-wrapper img{
  width: 100%;
  height:100%;
  object-fit: contain
}


/* Center content on the page */
.container {
  @apply mx-auto;
}

/* Style for the Movies component */
.movies-container {
  @apply p-4;
}

.movie-card {
  @apply border border-gray-900 rounded overflow-hidden transition-transform duration-300 ease-in-out hover:transform scale-105;
}

.movie-card img {
  @apply w-full h-auto;
}

.movie-card h3 {
  @apply text-lg mt-2;
}

.img-details-wrapper {
  height: 600px;
  width: 600px;
}
.img-details-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

@media (min-width: 768px) {
  .movies-container {
    @apply grid grid-cols-2 gap-4;
  }
}

@media (min-width: 1024px) {
  .movies-container {
    @apply grid-cols-3;
  }
}
